venv/*
.idea/inspectionProfiles .idea/misc.xml .idea/modules.xml .idea/Sellthon.iml .idea/vcs.xml .idea/workspace.xml
__pycache__/lib.pypy37.pyc
.idea/*
.env
logbot.txt
logbot.*
test_lib_nooop.py
test_lib.py
__pycache__/*
